@model IEnumerable<Employee>;
@{
    ViewData["Title"] = "Index";
}

<h1>All Employees</h1>

<form>
    <div class="py-2">
        <input id="InputVal" placeholder="Search By Employee Name" data-search-url="/Employee/Search" data-target-table="table" class="form-control" />
    </div>
</form>


<a asp-action="Create" asp-controller="Employee" class="btn btn-primary my-3">Add Employee</a>

@if(!string.IsNullOrEmpty(TempData["Message"] as string))
{
    <div class="m-3 alert alert-info">
        <p>@TempData["Message"]</p>
    </div>  
}


@if(Model.Count() > 0)
{
    <div class="table-responsive">
        <table class=" vw-100 overflow-hidden table table-hover table-bordered">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Email</th>
                    <th>Salary</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>@Html.DisplayNameFor(E => E.HiringDate)</th>
                    <th>@Html.DisplayNameFor(E => E.CreateAt)</th>
                    <th>IsActive</th>
                    <th>IsDeleted</th>
                    <th>Department</th>
                    @if(User.IsInRole("Admin"))
                    {
                        <th>ACTIONS</th>
                    }
                   
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <img src="~/Files/Images/@item.ImageName" width="50px" height="50px" class="rounded-circle" />
                        </td>
                        <td>@item.Name</td>
                        <td>@item.Age</td>
                        <td>@item.Email</td>
                        <td>@item.Salary</td>
                        <td>@item.Address</td>
                        <td>@item.Phone</td>
                        <td>@item.HiringDate</td>
                        <td>@item.CreateAt</td>
                        <td>@item.IsActive</td>
                        <td>@item.IsDeleted</td>
                        <td>@(item.department != null ? item.department?.Name : "NA")</td>
                        @if(User.IsInRole("Admin"))
                        {  
                        <partial name="_buttonsPartialView" model="@item.Id.ToString()" />
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <h4 class="mt-4 alert alert-danger"> There Are No Employees :(</h4>
}