@model IEnumerable<UserToReturnDto>;

<thead>
    <tr>
        <th>Id</th>
        <th>UserName</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Email</th>
        <th>Role</th>
        <th>Details</th>
        <th>update</th>
        <th>Delete</th>
    </tr>
</thead>
<tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>@item.Email</td>
            <td>
                @foreach (var role in item.Roles)
                {
                    <span>@role</span>
                }
            </td>
            <partial name="_buttonsPartialView" model="@item.Id" />
        </tr>
    }
</tbody>