@model IEnumerable<UserToReturnDto>;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>All Users</h1>

<form>
    <div>
        <input id="InputVal" placeholder="Search By User Name" name="SearchInput" class="form-control" />
        <input type="submit" class="btn btn-success my-2" value="Search" />
    </div>
</form>

@if (!string.IsNullOrEmpty(TempData["Message"] as string))
{
    <div class="m-3 alert alert-info">
        <p>@TempData["Message"]</p>
    </div>
}

@if (Model.Count() > 0)
{
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>UserName</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Email</th>
                <th>Role</th>
                <th>Details</th>
                <th>update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.Email</td>
                    <td>
                        @foreach (var role in item.Roles)
                        {
                            <span>@role</span>
                        }
                    </td>
                    <partial name="_buttonsPartialView" model="@item.Id" />
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h4 class="mt-4 alert alert-danger"> There Are No Users :(</h4>
}
