@using Microsoft.AspNetCore.Identity
@inject UserManager<AppUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
    var userName = user?.UserName;
    var userEmail = user?.Email;
    var userRoles = await UserManager.GetRolesAsync(user);
}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Company.Owner.PL</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Company.Owner.PL.styles.css" asp-append-version="true" />
    <link href="~/lib/toastr/toastr.min.css" rel="stylesheet" />
    <style>
        .action-btn {
            margin-right: 5px;
        }

        .table thead {
            background-color: #003b4f;
            color: white;
        }

        .search-bar {
            margin-bottom: 20px;
        }
    </style>

</head>
<body>
    
    @*Start Header*@
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3 fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand me-auto" asp-area="" asp-controller="Home" asp-action="Index">Company management System</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse w-100 justify-content-between" id="mainNavbar">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Department" asp-action="Index">Department</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="Index">Employee</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav">
                        <div class="d-flex align-items-center gap-2">
                            <img src="./Files/Images/blankProfilePicture.webp" alt="Avatar" width="50" height="50" class="rounded-circle">
                            <div>
                                <h6 class="mb-0 fw-bold">@userName</h6>
                                <small class="text-muted">@string.Join(", ", userRoles) Profile</small>
                            </div>
                            <div class="dropdown">
                                <button class="dropdown-toggle bg-transparent border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-gear gear-icon ms-2"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end bg-dark bg-opacity-50">
                                    <li class="dropdown-item">
                                        <a class="nav-link text-light text-center" asp-area="" asp-controller="User" asp-action="Index">Users</a>
                                    </li>
                                    <li class="dropdown-item">
                                        <a class="nav-link text-light text-center" asp-area="" asp-controller="Role" asp-action="Index">Roles</a>
                                    </li>
                                    <li class="dropdown-item">
                                        <a class="nav-link text-danger text-center fw-bold" asp-area="" asp-controller="Account" asp-action="SignOut">SignOut</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    @*End Header*@
   
    @*Start Body*@
  
    <main role="main" class="pb-3 pt-4 mt-5">
        <div class="container">
            @RenderBody()
        </div>
    </main>
    @*End Body*@
   

    @*Start Footer*@
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Company.Owner.PL - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    @*End Footer*@
  
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("ValidationSection", required: false)
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script>
        $(function () {
            // Show success toast
            if ('@TempData["toastr-success"]' !== '') {
                toastr.success('@Html.Raw(TempData["toastr-success"])');
            }
            // Show error toast
            if ('@TempData["toastr-error"]' !== '') {
                toastr.error('@Html.Raw(TempData["toastr-error"])');
            }
        });
    </script>   

    
</body>
</html>
