@model IEnumerable<Employee>;
@foreach (var item in Model)
{
    <tr>
        <td>
            <img src="~/Files/Images/@item.ImageName" width="50px" height="50px" class="rounded-circle" />
        </td>
        <td>@item.Name</td>
        <td>@item.Age</td>
        <td>@item.Email</td>
        <td>@item.Salary</td>
        <td>@item.Address</td>
        <td>@item.Phone</td>
        <td>@item.HiringDate</td>
        <td>@item.CreateAt</td>
        <td>@item.IsActive</td>
        <td>@item.IsDeleted</td>
        <td>@(item.department != null ? item.department?.Name : "NA")</td>
        @if(User.IsInRole("Admin"))
        {
        <partial name="_buttonsPartialView" model="@item.Id.ToString()" />
        }
    </tr>
}
        