@model IEnumerable<Employee>;
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Age</th>
            <th>Email</th>
            <th>Salary</th>
            <th>Address</th>
            <th>Phone</th>
            <th>@Html.DisplayNameFor(E => E.HiringDate)</th>
            <th>@Html.DisplayNameFor(E => E.CreateAt)</th>
            <th>IsActive</th>
            <th>IsDeleted</th>
            <th>Department</th>
            <th>Details</th>
            <th>update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="~/Files/Images/@item.ImageName" width="50px" height="50px" class="rounded-circle" />
                </td>
                <td>@item.Name</td>
                <td>@item.Age</td>
                <td>@item.Email</td>
                <td>@item.Salary</td>
                <td>@item.Address</td>
                <td>@item.Phone</td>
                <td>@item.HiringDate</td>
                <td>@item.CreateAt</td>
                <td>@item.IsActive</td>
                <td>@item.IsDeleted</td>
                <td>@(item.department != null ? item.department?.Name : "NA")</td>
                <partial name="_buttonsPartialView" model="@item.Id.ToString()" />
            </tr>
        }
    </tbody>
    